.card-container {
  margin-top: 3rem;
  padding: 0rem 4rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media(min-width: 992px) {
  .card-container {
    padding: 0rem 8rem 4rem 8rem;
  }
}

.card-plan h3 {
  text-align: center;
  padding-top: 0.75rem;
}

.card-plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-plan ul {
  text-align: center;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.card-plan a {
  background-color: var(--neutral-color);
  border: solid 1px rgb(201, 198, 198);
  width: 30%;
  margin: 1rem;
}

.card-plan span {
  display: flex;
  justify-content: center;
  border-top: solid 0.75px black;
  border-bottom: solid 0.75px black;
  padding-left: 0.2rem;
}

.card-line {
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}

.details {
  margin-top: 0.2rem;
  padding-top: 0.65rem;
}

.card-line img {
  width: 50px;
  height: 50px;
}

.dif {
  text-align: center;
  padding-top: 2.95rem;
}