.feedback-container{
  padding-left: 8rem;
  padding-right: 8rem;
  display: flex;
  padding-top: 10rem;
}

.feedback-content {
  border-left: solid 2px var(--button-color);
  border-radius: 90px;
  padding-left: 2rem;
  padding-top: 2rem;
  border-top: solid 2px var(--button-color);
  display: flex;
  border-right: solid 2px var(--button-color);
  padding-right: 2rem;
}

.feedback-content h2{
  padding-bottom: 2rem;
  padding-top: 4rem;
}

.feedback-container img{
  max-width: max-content;
  padding-bottom: 3rem;
}

.feedback-bar{
  border-top: solid 2px var(--button-color);
}
