.footer-container {
  background: var(--button-color);
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 4rem;
  text-align: left;
  border: solid 1px rgb(207, 192, 192);
}

.space {
  padding-right: 2rem;
  padding-left: 2rem;
}

.footer-content {
  color: var(--neutral-color);
  display: flex;
  border-right: solid 1px var(--neutral-color);
  border-left: solid 1px var(--neutral-color);
  border-bottom: solid 1px var(--neutral-color);
  box-shadow: inset 1px 1px 1px 1px var(--neutral-color);
  border-radius: 20px;
  padding-top: 0.32rem;
}

.footer-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.footer-contact {
  padding-top: 1.1rem;
}

.footer-details h2 {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  display: flex;
}

.footer-details p {
  max-width: 70ch;
}

.footer-content img {
  width: 290px;
  height: 67px;
  margin-top: 1.2rem;
}

.footer-details li {
  padding-bottom: 0.75rem;
}

.footer-details a:hover {
  text-decoration: solid 1px underline;
}

.footer-midia a {
  display: inline;
  margin-right: 1rem;
}

.footer-midia a:hover {
  text-decoration: none;
}

.footer-midia a svg:hover {
  border: solid 1px var(--neutral-color);
  border-radius: 10px;
}

.footer-span {
  height: 40px;
}