.types-project {
  padding: 4rem 4rem 2rem 4rem;
  text-align: center;
  justify-content: left;
}

@media(min-width: 992px) {
  .types-project {
    padding: 4rem 8rem 4rem 8rem;
  }
}

.types-project h2 {
  margin-bottom: 0.85rem;
}

.project {
  display: flex;
  padding-top: 1.45rem;
  gap: 20px;
}

.project>div {
  border-right: solid 0.1px gray;
  text-align: left;
}

@media(max-width: 694px) {
  .project {
    flex-flow: column;
  }

  .project>div {
    border-right: none;
  }
}

.project>div:nth-child(4) {
  border-right: none;
}

.project p {
  padding-top: 1.1rem;
  max-width: 60ch;
  letter-spacing: 0.5px;
  color: black;
  margin-right: 2rem;
}

.project a:hover {
  color: var(--button-color);
}