.types-project{
  margin-left: 6rem;
  margin-right: 6rem;
  padding-top: 2.95rem;
  text-align: center;
  justify-content: left;
}
.types-project h2{
  margin-bottom: 0.85rem;
}

.project{
  display: flex;
  padding-top: 1.45rem;
  gap: 20px;
}

.project>div{
  border-right: solid 0.1px gray;
  text-align: left;
}

.project>div:nth-child(4){
  border-right: none;
}

.project p{
  padding-top: 1.1rem;
  max-width: 60ch;
  letter-spacing: 0.5px;
  color: black;
  margin-right: 2rem;
}

.project a:hover{
  color: var(--button-color);
}
