.welcome-container{
  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: 3rem;
}
.welcome{
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.welcome p{
  margin-top: 0.5rem;
  letter-spacing: 0.1ch;
  margin-bottom: 2.0rem;
}

.welcome-img{
  max-width: 100%;
  margin-right: 2rem;
}

.catalog{
  transition: 0.3s;
  border-top: solid 0.1rem;
  border-bottom: solid 0.1rem;
  padding: 0.5rem;
}

.catalog:hover{
  color: var(--button-color);
  transition: 0.3s;
}
